.reveal {
  font-size: 2.2em; /* adjust down as needed */
}

.reveal table {
  font-size: 0.58em;
}

.title {
  font-size: 60px !important;
}

.subtitle {
  font-size: 45px !important;
}


.quarto-title-author-name {
  font-size: 35px;
  font-variant: small-caps
}



.math.inline {
  font-size: 85%  !important;
}

.MathJax_Display  {
    font-size: 78%  !important;
}

code.sourceCode {
  font-size: 1.05em;
  /* or try font-size: xx-large; */
}

.big-code{
  font-size: 120%  
}